<h1>About Us</h1>
<div>
  <h2>What is PSCORE?</h2>
  <div>
    People for Successful COrean REunification (PSCORE) is a non-religious and non-partisan NGO based in Seoul, South Korea. PSCORE was founded in 2006 by Kim Young-Il, a former North Korean soldier who escaped the country with his family. Along with a group of South Koreans and foreigners, Kim Young-Il created PSCORE to advocate for the rights of North Korean people and to provide North Koreans with a platform to discuss democracy and human rights. Today, PSCORE continues this mission through a series of programs such as our Mentoring program and our Human Rights and Democracy program. We also provide emergency aid to North Korean refugees in China. All of our programs are designed to garner support for the reunification of North and South Korea. PSCORE helps North Korean defectors become self-sufficient because we believe that they can actively contribute to the reunification process.
  </div>
  <div>
    Since its founding, PSCORE has been an active and outspoken advocate for the protection of human rights in North Korea. PSCORE is the only NGO focusing exclusively on North Korean Human Rights with UN Economic and Social Council (ECOSOC) special consultative status since 2012.
  </div>
  <div>
    As an organization, PSCORE believes in:
    <ul>
      <li>Connecting North Korean defectors with South Korean citizens and the international community</li>
      <li>Mobilizing North Korean defectors to participate in the democratic process and lobby for social and political reform</li>
      <li>Enhancing North Korean defectors’ ability to become self-sustainable and contribute to the reunification process</li>
      <li>Building information networks to keep the international community informed about the human rights abuses occurring in North Korea</li>
      <li>Empowering North Korean defectors to become global citizens by taking on leadership roles in various public and private sectors</li>
    </ul>
    Here is a brief introduction to our organization and its activities: <a href="http://pscore.org/xe/?module=file&amp;act=procFileDownload&amp;file_srl=161708&amp;sid=bd2df39ab44e9a67d96ccb8d6d1b6ee3&amp;module_srl=93764" style="font-size: 13px; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; line-height: 1.5;">PSCORE - An Introduction.pdf</a>
  </div>
